.btn-container {
  position: absolute;
  top: 40px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10; 
  width: 120px; 
}

header button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease; 
  text-align: center;
  opacity: 0.8; 
  margin: 12px 12px
}

header button:hover {
	opacity: 1;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#exit_btn {
  background-color: black;
  color: white;
}

#showAll_btn{
  background-color: silver;
  color: white;
}

#angry_btn {
  background-color: #ff6b6b;
  color: white;
}

#disgusted_btn {
  background-color: gold;
  color: white;
}

#fearful_btn {
  background-color: green;
  color: white;
}

#happy_btn {
  background-color: #3a4eb0;
  color: white;
}

#neutral_btn {
  background-color: violet;
  color: white;
}

#sad_btn {
  background-color: mediumspringgreen;
  color: white;
}

#surprised_btn {
  background-color: brown;
  color: white;
}

#load_btn {
  background-color: orange;
  color: white;
}

.banner.other-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}