
canvas {
  pointer-events:none;
  position: fixed;
  z-index:-1
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}

/* 버튼 숨김 처리 */
.hidden {
  display: none;
}

/* 감정에 따른 색상 */
.heat-point.positive {
  background-color: rgba(0, 255, 0, 0.5); /* 녹색 (긍정) */
}

.heat-point.neutral {
  background-color: rgba(255, 255, 0, 0.5); /* 노란색 (중립) */
}

.heat-point.negative {
  background-color: rgba(255, 0, 0, 0.5); /* 빨간색 (부정) */
}

